body {
 background-color: aqua;

}
h1 {
 text-align: center;
 text-decoration: line-through;
 text-transform: capitalize;
}
.carousel-container {
 display: flex;
 justify-content: center;
 text-align: center;
 height: 300px;



.myslides {
        display: none;
        max-height: 100%;
        max-width: 100;
    }

}


